<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>$pagetitle$ | Fram</title>
    <meta name="description" content="$description-meta$">
    <link rel="icon" type='image/png' href="/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/simple.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a class="homepage-link" href="/">
              <img class="homepage-logo" src="/img/framtext.svg" alt="Fram"></a></li>
          <li><a href="https://doc.fram-lang.org/intro/installation.html">
              Tutorial</a></li>
          <li><a href="https://doc.fram-lang.org/ref/notation.html">
              Reference Manual</a></li>
          <li><a href="https://github.com/fram-lang/dbl">
              Implementation</a></li>
          <li><a href="/publications.html">
              Publications</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>$title$</h1>

      $body$
    </main>
    <footer>
      <p>
        <a href="https://github.com/fram-lang/fram-site">
          The source for this site is available on GitHub</a>
          under the MIT license.
      </p>
    </footer>
  </body>
</html>
